#dropdownContainer {
    width: 1000px;
}
#HeaderLogo {
    width: 100px;
    height: 100px;
}
#selectContainer {
    height: 100px;
}
.topStories{
    background-color: #003594;
    height: 100px;
}

.topStories h2 {
    margin: auto;
}
a {
    font-family: "Poppins", sans-serif;
}
.footer {
    background-color: #003594 !important;
}
.footer a {
    color: white;
}
.footer li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
label {
    font-family: "Poppins", sans-serif;
}
li {
    font-family: "Poppins", sans-serif;
    padding: 5px;
}
button {
    font-family: "Poppins", sans-serif;
}
p {
    font-family: "Poppins", sans-serif;
}
span {
    font-family: "Poppins", sans-serif !important;
}
button , .btn {
    font-family: "Russo One", sans-serif !important;
    font-weight: 400;
    font-style: normal;
}
.carouselSize {
    width: 1290px !important;
    height: 500px !important;
}
.carouselSize img {
    object-fit: contain;
}
#NavBar a {
    text-decoration: none;
    color: black;
}
#NavBar a:hover {
    color: #003594 !important;
    transform: translateY(-1px);
    font-size: 18px;
}
.btn:hover {
    transform: translateY(-2px) !important;
}
.carousel-indicators button{
    color: #003594 !important;
    background-color: #003594 !important;
}
@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    #secondImage {
        margin-top: 90px !important;
    }
  }
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .carouselSize {
        width: 100% !important;
        height: 300px !important;
    }
    .carousel-caption {
        margin: auto;
        width: 300px !important;
        font-size: 10px !important;
    }
    #secondCaption {
        margin: auto !important;
        height: 100px !important;
        margin-bottom: 160px !important;
        font-size: 10px !important;
    }
    .col-footer {
        display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .col-footer {
        display: none;
    }
  }
  @media only screen and (max-width: 425px) {
    /* For mobile phones: */
    .carouselSize {
        width: 100% !important;
        height: 300px !important;
    }
    .carouselSize img{
        width: 100% !important;
    }
    .col-footer {
          display: none;
    }
    #secondImage {
        margin-top: 90px !important;
    }
  }
  @media only screen and (max-width: 400px) {
    /* For mobile phones: */
    .carouselSize {
        width: 100% !important;
        height: 300px !important;
    }
    .carouselSize img{
        width: 100% !important;
    }
    .col-footer {
          display: none;
    }
    #secondImage {
        margin-top: 90px !important;
    }
  }
  @media only screen and (max-width: 375px) {
    /* For mobile phones: */
    .carouselSize {
        width: 100% !important;
    }
    .carousel-caption {
        margin: auto;
        width: 200px !important;
        font-size: 9px !important;
    }
    #secondCaption {
        margin: auto !important;
        height: 100px !important;
        margin-bottom: 160px !important;
        font-size: 10px !important;
    }
    .carouselSize {
        width: 100% !important;
        height: 300px !important;
    }
    .carouselSize img{
        width: 100% !important;
    }
    .col-footer {
          display: none;
    }
    #secondImage {
        margin-top: 90px !important;
    }
  }
  @media only screen and (max-width: 320px) {
    /* For mobile phones: */
    .carouselSize {
        width: 100% !important;
    }
    .carousel-caption {
        margin: auto;
        width: 200px !important;
        font-size: 8px !important;
    }
    #secondCaption {
        margin: auto !important;
        height: 100px !important;
        margin-bottom: 160px !important;
        font-size: 10px !important;
    }
    .carouselSize {
        width: 100% !important;
        height: 300px !important;
    }
    .carouselSize img{
        width: 100% !important;
    }
    .col-footer {
          display: none;
    }
    #secondImage {
        margin-top: 90px !important;
    }
  }